
.icon-triangle:before { content: '\e81a'; } /* '' */
.icon-file:before { content: '\e82a'; } /* '' */
.icon-attachment-1575:before { content: '\e834'; } /* '' */
.icon-clock-2:before { content: '\e839'; } /* '' */
.icon-basket-2:before { content: '\e83a'; } /* '' */
.icon-back:before { content: '\e83b'; } /* '' */
.icon-delivery:before { content: '\e83c'; } /* '' */